html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

header a {
  margin: 0.25rem;
}


.profileImage {
    background-color: #225bff;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    height: 100px;
    width: 100px;
    margin: 1rem;
    float: left;
}
.profileDetails {

}